#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

body {
  background-image: url("./assets/wallpaperflare.com_wallpaper.jpg");
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  width: 100%;
  margin: 0;
  padding: 0;
  color: white;
}

.Heading {
  font-size: 50px;
  padding: 0;
  margin: 0;
}

.tagline1 {
  font-size: 35px;
  margin: 0;
  font-weight: 600;
  color: #e76427;
  padding: 0;
}

.tagline2 {
  font-size: 25px;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  color: #f42626;
  font-weight: 400;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 25%;
  margin: auto;
  margin-bottom: 20px;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.input-field {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input-label {
  color: black;
  font-size: 1.3rem;
  margin-right: 0.62rem;
  font-weight: bold;
}

.input-field {
  padding: 0.3rem;
  width: 12vw;
  font-size: 0.87rem;
}
.submit-button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #45a049;
}

@media (max-width: 480px) {
  .form {
    max-width: 80%;
    padding: 10px;
  }

  .input-label {
    font-size: 1.2rem;
  }

  .input-field {
    font-size: 0.9rem;
    width: 35vw; 
  }

  .submit-button {
    font-size: 15px;
  }
}


.todo-list {
  margin-top: 30px;
  justify-content: center;
  padding: 0;
  list-style: none;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.todo-item {
  background-color: #fff;
  padding: 15px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.404);
  color: black;
  width: 300px;
  flex: 0 0 auto;
  overflow: hidden;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.todo-detail {
  font-size: 14px;
  color: #030000;
  margin: 4px 0;
  text-align: center;
}

.todo-detail.title {
  font-size: 25px;
  font-weight: bold;
  color: #2c3e50;
}

.todo-detail.description {
  font-size: 16px;
  color: #34495e;
}

.todo-detail.addedon {
  font-size: 15px;
  font-weight: 600;
  color: #7f8c8d;
}
.todo-detail.dedline {
  font-size: 15px;
  font-weight: 750;
  color: #7f8c8d;
}

.todo-detail.dedline {
  color: black;
}
.todo-detail.username {
  font-weight: bold;
  color: #000000;
}

.todo-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.edit-button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-button:hover {
  background-color: #45a049;
}

.completed-button,
.delete-button {
  padding: 8px 15px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.incomplete-button {
  padding: 8px 15px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  background-color: white;
  color: #2196f3;
  border: none;
}

.completed-button {
  background-color: #2196f3;
  color: white;
  border: none;
}

.Completed {
  background-color: rgb(117, 242, 127);
}

.completed-button:hover {
  background-color: #1976d2;
}

.delete-button {
  background-color: #f44336;
  color: white;
  border: none;
}

.delete-button:hover {
  background-color: #e53935;
}

.no-records {
  text-align: center;
  font-size: 18px;
  color: #888;
}

.footer {
  opacity: 0.9;
  background-color: #49494a;
  color: white;
  padding: 15px 0;
  text-align: center;
  width: 100%;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 0px;
  position: relative;
  bottom: 0px;
}

.social-media {
  margin-bottom: 10px;
}

.social-media a {
  margin: 0 10px;
  color: white;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.social-media a:hover {
  color: #201f20;
}

.copyright {
  font-size: 1rem;
  margin-top: 10px;
}
